@charset "ISO-8859-1";
body {
	position: fixed;
	background-image: url('e.jpg'); /* Replace with your image URL */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
/* Custom CSS for login and register forms */
.form-container {
	max-width: 400px;
	margin: 50px auto;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
}

.form-container h2 {
	margin-bottom: 20px;
}

.form-container .form-group {
	margin-bottom: 15px;
}

.form-container .btn-primary {
	width: 100%;
}
.navbar-custom {
	background-color: #373A40;
}

.navbar-custom .navbar-brand, .navbar-custom .nav-link, .navbar-custom .navbar-toggler-icon {
	color: #fff;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	align-items: center;
	justify-content: center;
}

.modal-content {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
}