<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>InamManagement</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
body {
	font-family: 'Arial', sans-serif;
	background-color: #f8f9fa;
}

h2 {
	background-color: #f8f9fa;
	color: #343a40;
	text-align: center;
}

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 280px;
	padding: 15px;
	background-color: #343a40;
	color: white;
}

.sidebar a {
	color: white;
	text-decoration: none;
}

.sidebar a:hover {
	color: #ffc107;
}

.content {
	margin-left: 280px;
	padding: 15px;
}

.sidebar .nav-item {
	margin-bottom: 0.5rem;
}

.nav-item {
	display: flex;
	align-items: center;
}

.nav-item img {
	margin-right: 10px;
}

.tenant-info {
	margin-top: 50px;
}

.tenant-info img {
	max-width: 150px;
	height: auto;
	margin-bottom: 20px;
	border-radius: 4%;
}

.tenant-info h2 {
	margin-bottom: 10px;
	color: #000000;
	font-size: 24px;
}

.info-item {
	margin-bottom: 15px;
	color: #495057;
}

.info-item strong {
	color: #000000;
}

.card {
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
	background-color: #000000;
	color: white;
	border-radius: 10px 10px 0 0;
	padding: 15px;
}

.card-body {
	background-color: #fff;
	padding: 15px;
}

.tenant-header {
	display: flex;
	align-items: center;
}

.tenant-header img {
	margin-right: 20px;
}

.edit {
	display: block;
	margin: 0 auto; /* Center the button horizontally */
	margin-top: 10px; /* Add some space above the button */
	position: absolute;
	top: 280px;
	left: 346px;
}
</style>
</head>
<body>
	<div th:if="${session.user != null && session.user.role == 'admin'}">
		<div class="sidebar">
			<img style="padding-bottom: 30px;" width="230" height="150"
				th:src="@{/aimg/logo.png}" alt=""> <br>
			<ul class="nav flex-column">
				<li class="nav-item"><img width="30" height="30"
					th:src="@{/aimg/search.png}" alt="Profile" /> <a
					class="nav-link active" th:href="@{/search?type=1}"
					data-target="profile">View Tenant</a></li>
				<li class="nav-item"><img width="30" height="30"
					th:src="@{/aimg/addicon.png}" alt="Add Tenant" /> <a
					class="nav-link" th:href="@{/addTenant}">Add Tenant</a></li>
				<li class="nav-item"><img width="30" height="30"
					th:src="@{/aimg/eb.png}" alt="EB Bill" /> <a class="nav-link"
					th:href="@{/search?type=2}" data-target="addEBBill">Add EB-Bill</a>
				</li>
				<li class="nav-item"><img width="30" height="30"
					th:src="@{/aimg/visitor.png}" alt="Visitors" /> <a class="nav-link"
					th:href="@{/viewVisitor}" data-target="visitors">Visitors</a></li>
				<li class="nav-item"><img width="30" height="30"
					th:src="@{/aimg/complain.png}" alt="Complains" /> <a
					class="nav-link" th:href="@{/complain}" data-target="complains">Complains</a>
				</li>
				<li class="nav-item"><img width="30" height="30"
					th:src="@{/aimg/chat.png}" alt="chat" /> <a class="nav-link"
					th:href="@{/chat}" data-target="chat">chat</a></li>
				<li class="nav-item"><img width="30" height="30"
					th:src="@{/aimg/event.png}" alt="Events" /> <a class="nav-link"
					th:href="@{/events}" data-target="addEvents">Add Events</a></li>
				<li class="nav-item"><img width="30" height="30"
					th:src="@{/aimg/logout.png}" alt="Logout" /> <a class="nav-link"
					th:href="@{/LogoutServlet}">Log-Out</a></li>
			</ul>
		</div>

		<div class="content">
			<div class="container-fluid">
				<form th:action="@{/search(type=1)}" method="post">
					<div class="row mt-3">
						<div class="col-md-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="search-addon"><i
										class="fa fa-search"></i> </span>
								</div>
								<input type="text" name="query" class="form-control"
									placeholder="Search" aria-label="Search"
									aria-describedby="search-addon">
							</div>
						</div>
						<div class="col-md-3">
							<div class="input-group">
								<button type="submit" class="btn btn-dark">Search</button>
							</div>
						</div>
					</div>
				</form>

				<div class="container tenant-info">
					<div th:if="${tenantList != null}">
						<div th:each="tenant : ${tenantList}">
							<div class="tenant-header mb-4">
								<img th:src="'data:image/jpeg;base64,' + ${tenant.photo}"
									alt="Tenant" class="img-thumbnail" id="tenantPhoto">
								<div>
									<h2 th:text="${tenant.name}">Tenant Name</h2>
									<div class="info-item">
										<strong>Phone Number:</strong> <span
											th:text="${tenant.phoneNo}">Phone Number</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 mb-4">
									<div class="card">
										<div class="card-header">Personal Information</div>
										<div class="card-body">
											<div class="info-item">
												<strong>Aadhaar Number:</strong> <span
													th:text="${tenant.aadhaarNumber}">Aadhaar Number</span>
											</div>
											<div class="info-item">
												<strong>Email:</strong> <span th:text="${tenant.email}">Email</span>
											</div>
											<div class="info-item">
												<strong>Flat Type:</strong> <span
													th:text="${tenant.flatType}">Flat Type</span>
											</div>
											<div class="info-item">
												<strong>Flat Floor:</strong> <span
													th:text="${tenant.flatFloor}">Flat Floor</span>
											</div>
											<div class="info-item">
												<strong>Family Members:</strong> <span
													th:text="${tenant.familyNembers}">Family Members</span>
											</div>
											<div class="info-item">
												<strong>Date of Joining:</strong> <span
													th:text="${tenant.dateOfJoining}">Date of Joining</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12 mb-4">
									<div class="card">
										<div class="card-header">Payment Information</div>
										<div class="card-body">
											<div class="info-item">
												<strong>Advance Amount:</strong> <span
													th:text="${tenant.advanceAmount}">Advance Amount</span>
											</div>
											<div class="info-item">
												<strong>Advance Status:</strong> <span
													th:text="${tenant.advanceStatus}">Advance Status</span>
											</div>
											<div class="info-item">
												<strong>Rent Amount:</strong> <span
													th:text="${tenant.rentAmount}">Rent Amount</span>
											</div>
											<div class="info-item">
												<strong>Rent Status:</strong> <span
													th:text="${tenant.rentAmountStatus}">Rent Status</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Delete Tenant Form with Confirmation -->
							<div class="mt-4">
								<form th:action="@{/deleteTenant(page=${currentPage}, type=1)}"
									method="post" onsubmit="return confirmDelete();">
									<input type="hidden" th:value="${tenant.id}" name="deleteId">
									<button type="submit" class="btn btn-danger">Delete
										Account</button>
								</form>
							</div>
							<br> <br>
							<nav aria-label="Page navigation example">
								<ul class="pagination">
									<!-- Previous Page Link -->
									<li class="page-item" th:if="${currentPage > 1}"><a
										class="page-link"
										th:href="@{/search(page=${currentPage - 1}, type=1)}"
										aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
									</a></li>
									<!-- Page Number Links -->
									<li class="page-item"
										th:each="i : ${#numbers.sequence(1, totalPages)}"
										th:classappend="${i == currentPage} ? 'active' : ''"><a
										class="page-link" th:href="@{/search(page=${i}, type=1)}"
										th:text="${i}"></a></li>

									<!-- Next Page Link -->
									<li class="page-item" th:if="${currentPage < totalPages}"><a
										class="page-link"
										th:href="@{/search(page=${currentPage + 1}, type=1)}"
										aria-label="Next"> <span aria-hidden="true">&raquo;</span>
									</a></li>
								</ul>
							</nav>
						</div>
					</div>
					<div th:if="${tenantList == null || tenantList.empty}">
						<p>No tenants found.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:if="${session.user != null && session.user.role == 'user'}">
		<div class="sidebar">
			<img style="padding-bottom: 30px;" width="230" height="150"
				src="img/logo.png" alt=""> <br>
			<ul class="nav flex-column">
				<li class="nav-item"><img width="30" height="30"
					src="aimg/profileicon.png" alt="Profile" /> <a
					class="nav-link active" href="/search?type=1" data-target="profile">Profile</a>
				</li>
				<li class="nav-item"><img width="30" height="30"
					src="aimg/eb.png" alt="EB Bill" /> <a class="nav-link"
					th:href="@{/payment}" data-target="addEBBill">payment</a></li>
				<li class="nav-item"><img width="30" height="30"
					src="aimg/complain.png" alt="Complains" /> <a class="nav-link"
					th:href="@{/complain}" data-target="complains">Complains</a></li>
				<li class="nav-item"><img width="30" height="30"
					src="aimg/chat.png" alt="chat" /> <a class="nav-link"
					th:href="@{/chat}" data-target="chat">chat</a></li>
				<li class="nav-item"><img width="30" height="30"
					src="aimg/event.png" alt="Events" /> <a class="nav-link"
					th:href="@{/events}" data-target="addEvents">Events</a></li>
				<li class="nav-item"><img width="30" height="30"
					src="aimg/logout.png" alt="Logout" /> <a class="nav-link"
					th:href="@{/LogoutServlet}">Log-Out</a></li>
			</ul>
		</div>

		<div class="content">
			<div class="container-fluid">
				<div class="container tenant-info">
					<div th:if="${tenant != null}">
							<div class="tenant-header mb-4">
								<img th:src="'data:image/jpeg;base64,' + ${tenant.photo}"
									alt="Tenant" class="img-thumbnail" id="tenantPhoto">
								<div class="modal fade" id="editPhotoModal" tabindex="-1"
									role="dialog" aria-labelledby="editPhotoModalLabel"
									aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="editPhotoModalLabel">Edit
													Photo</h5>
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<form action="/updatePhoto" method="post"
												enctype="multipart/form-data">
												<div class="modal-body">
													<div class="form-group">
														<label for="newPhoto">Choose Photo:</label> <input
															type="file" class="form-control-file" id="newPhoto"
															name="newPhoto" accept="image/*">
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														onclick="hideEditPhotoModal()">Back</button>

													<button type="submit" class="btn btn-primary">Upload</button>
												</div>
											</form>
										</div>
									</div>
								</div>

								<div>
									<h2 th:text="${tenant.name}">Tenant Name</h2>
									<div class="info-item">
										<strong>Phone Number:</strong> <span
											th:text="${tenant.phoneNo}">Phone Number</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 mb-4">
									<div class="card">
										<div class="card-header">Personal Information</div>
										<div class="card-body">
											<div class="info-item">
												<strong>Aadhaar Number:</strong> <span
													th:text="${tenant.aadhaarNumber}">Aadhaar Number</span>
											</div>
											<div class="info-item">
												<strong>Email:</strong> <span th:text="${tenant.email}">Email</span>
											</div>
											<div class="info-item">
												<strong>Flat Type:</strong> <span
													th:text="${tenant.flatType}">Flat Type</span>
											</div>
											<div class="info-item">
												<strong>Flat Floor:</strong> <span
													th:text="${tenant.flatFloor}">Flat Floor</span>
											</div>
											<div class="info-item">
												<strong>Family Members:</strong> <span
													th:text="${tenant.familyNembers}">Family Members</span>
											</div>
											<div class="info-item">
												<strong>Date of Joining:</strong> <span
													th:text="${tenant.dateOfJoining}">Date of Joining</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12 mb-4">
									<div class="card">
										<div class="card-header">Payment Information</div>
										<div class="card-body">
											<div class="info-item">
												<strong>Advance Amount:</strong> <span
													th:text="${tenant.advanceAmount}">Advance Amount</span>
											</div>
											<div class="info-item">
												<strong>Advance Status:</strong> <span
													th:text="${tenant.advanceStatus}">Advance Status</span>
											</div>
											<div class="info-item">
												<strong>Rent Amount:</strong> <span
													th:text="${tenant.rentAmount}">Rent Amount</span>
											</div>
											<div class="info-item">
												<strong>Rent Status:</strong> <span
													th:text="${tenant.rentAmountStatus}">Rent Status</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Delete Tenant Form with Confirmation -->
						</div>
						<div th:if="${tenant == null || tenant.empty}">
							<p>No tenants found.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div th:if="${session.user == null}">
		<p>
			You are not logged in. Please <a th:href="@{/home}">log in</a>.
		</p>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script>
		function confirmDelete() {
			return confirm('Are you sure you want to delete this tenant? This action cannot be undone.');
		}
	</script>
</body>
</html>